**/bin/
**/obj/
**/.vs/
NegevZoo/assets/*
**/app.config
**/Web.config
**/Web.Debug.config
**/Web.Release.config
WorkersSite/index.local.html
WorkersSite/app.config.local.js
DAL/Properties/Settings.settings
DAL/Properties/Settings.Designer.cs