**/bin/
**/obj/
**/node_modules/
**/.vs/
NegevZoo/assets/*
**/app.config
**/Web.config
**/Web.Debug.config
**/Web.Release.config
WorkersSite/index.local.html
WorkersSite/app.config.local.js

BL/Properties/Settings.settings
DAL/Properties/Settings.settings
BL/Properties/Settings.Designer.cs
DAL/Properties/Settings.Designer.cs