<meta charset="utf-8" http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />

<div layout="row" layout-align="center center">
    <md-progress-circular ng-show="isLoading" class="md-accent md-hue-1" md-diameter="300"></md-progress-circular>
</div>

<md-card ng-show="!isLoading">
        <md-card-title layout="row" layout-align="space-between">
        <div layout="column">
            <md-button class="md-raised md-primary" style="width: 150px" ui-sref="mainMenu.enclosures.list">חזור לרשימת המתחמים</md-button>
            <div layout="row" ng-if="isEdit">
                <img class="picture_small" ng-src="{{ baseURL + selectedEnclosure.pictureUrl }}" alt="{{ selectedEnclosure.name }}" />
                <md-card-title-text style="margin-top: 20px" class="md-headline">{{ selectedEnclosure.name }}:</md-card-title-text>
            </div>
            <md-card-title-text ng-if="!isEdit" class="md-headline">הוספת מתחם חדש:</md-card-title-text>
        </div>
    </md-card-title>

    <md-card-content layout="row" style="margin-right: 4%">
            <md-card-content layout="column" flex>
                <md-input-container layout="row">
                    <label ng-show="!isEdit">הכנס שם מזהה למתחם</label>
                    <label ng-show="isEdit">שם המתחם</label>
                    <input style="width: 200px" ng-model="selectedEnclosure.name" required type="text">
                </md-input-container>

                <ng-card-content layout="column">
                    <div style="margin-top: 7px" layout="row">
                        <div style="width: 200px">בחר אייקון להעלות:</div>
                        <input type="file" file-model="iconPic" accept="image/*"/>
                    </div>

                    <div style="margin-top: 7px" layout="row">
                        <div style="width: 200px">בחר תמונת פרופיל להעלות:</div>
                        <input type="file" file-model="profilePic" accept="image/*"/>
                    </div>
                </ng-card-content>
                <div layout="row">
                    <md-button class="md-raised md-primary" ng-click="openMap($event, selectedEnclosure)">מקם את המתחם על המפה</md-button>
                </div>
                <div layout="column" layout-align="end end">
                    <md-button style="background-color:darkviolet; min-width: 125px" class="md-raised md-accent" ng-click="addEnclosure(selectedEnclosure)">שמור פרטי מתחם</md-button>
                    <md-button  ng-if="isEdit" style="background-color: tomato; min-width: 125px" class="md-raised md-accent" ng-click="deleteEnclosure(selectedEnclosure.id)">מחק מתחם</md-button>
                </div>
            </md-card-content>
    </md-card-content>
</md-card>

<md-card ng-if="isEdit && !isLoading">
    <md-card-title layout="row" layout-align="space-between">
        <md-card-title-text class="md-headline">אירועים חוזרים</md-card-title-text>

        <div layout="column">
            <md-select ng-change="updateRecurringEvents(selectedEnclosure, language)" ng-model="language" placeholder="אנא בחר שפה">
                <md-option ng-repeat="lang in languages" ng-value="lang">{{ lang.name }}</md-option>
            </md-select>
        </div>
    </md-card-title>
    <md-card-content ng-if="selectedEnclosure.recurringEvents && selectedEnclosure.recurringEvents.length > 0">
        <div style="margin-right: 10%" ng-repeat="recurringEvent in selectedEnclosure.recurringEvents | orderBy:'id'" layout="row" layout-align="start center">
            <md-button style="margin-bottom: 25px" ng-if="!feed.isNew" ng-click="deleteReucrringEvent(selectedEnclosure.id, selectedEnclosure.recurringEvents, recurringEvent)" >
                <md-icon md-svg-src="icons/ic_not_interested_black_24px.svg"></md-icon>
            </md-button>
            <md-button style="margin-bottom: 25px" ng-disabled="true" ng-if="feed.isNew">
                <md-icon md-svg-src="icons/ic_new_releases_black_24px.svg"></md-icon>
            </md-button>

            <md-card-content layout="row">
                <md-input-container>
                    <label ng-show="recurringEvent.isNew">הכנס כותרת</label>
                    <input style="min-width: 200px" ng-model="recurringEvent.title" required type="text">
                </md-input-container>

                <md-input-container>
                    <label ng-show="recurringEvent.isNew">הכנס תיאור</label>
                    <input style="min-width: 400px" ng-model="recurringEvent.description" required type="text">
                </md-input-container>
            </md-card-content>

            <md-card-content layout="column">
                <md-input-container>
                    <label ng-show="recurringEvent.isNew">הכנס יום</label>
                    <md-select ng-model="recurringEvent.day">
                        <md-option ng-repeat="day in days" ng-value="day.id">{{ day.format }}</md-option>
                    </md-select>
                </md-input-container>

                <div layout="row">
                    <span style="margin-top: 25px; margin-left: 5px">הכנס שעת פתיחה:</span>

                    <md-input-container>
                        <label ng-show="recurringEvent.isNew">דקה</label>
                        <md-select ng-model="recurringEvent.startTime.minute">
                            <md-option ng-repeat="minute in minutes" ng-value="minute">{{ minute }}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <label ng-show="recurringEvent.isNew">שעה</label>
                        <md-select ng-model="recurringEvent.startTime.hour">
                            <md-option ng-repeat="hour in hours" ng-value="hour">{{ hour }}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="row">
                    <span style="margin-top: 25px; margin-left: 5px">הכנס שעת סגירה:</span>

                    <md-input-container>
                        <label ng-show="recurringEvent.isNew">דקה</label>
                        <md-select ng-model="recurringEvent.endTime.minute">
                            <md-option ng-repeat="minute in minutes" ng-value="minute">{{ minute }}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <label ng-show="recurringEvent.isNew">שעה</label>
                        <md-select ng-model="recurringEvent.endTime.hour">
                            <md-option ng-repeat="hour in hours" ng-value="hour">{{ hour }}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-card-content>
            <md-button class="md-primary md-raised" style="margin-bottom: 35px !important" ng-if="recurringEvent.isNew" ng-click="addRecurringEvent(recurringEvent)">שמור אירוע חוזר חדש</md-button>
            <md-button class="md-primary md-raised" style="margin-bottom: 35px !important" ng-if="!recurringEvent.isNew" ng-click="addRecurringEvent(recurringEvent)">עדכון אירוע חוזר</md-button>
        </div>
    </md-card-content>
    <md-card-content ng-if="!isLoading && (!selectedEnclosure.recurringEvents || selectedEnclosure.recurringEvents.length === 0)">
        <h3>אין נתונים</h3>
    </md-card-content>
</md-card>

<md-card ng-if="isEdit && !isLoading" layout="column">
    <md-card-title layout="column">
        <md-card-title-text class="md-headline">קטעי וידאו של המתחם:</md-card-title-text>
        
        <div layout="row">
            <md-input-container>
                <label>הוסף וידאו של חיה</label>
                <input style="width: 200px" ng-model="enclosureVideoUrl" type="text">
            </md-input-container>
            <div>
                <md-button class="md-raised md-primary" ng-click="addEnclosureVideo(selectedEnclosure, enclosureVideoUrl)">הוסף</md-button>
            </div>
        </div>
    </md-card-title>
    
    <md-card-content layout="row" layout-align="space-between">
        <div layout="column" ng-repeat="colIndex in [0, 1, 2, 3]">
            <div ng-repeat="video in selectedEnclosure.videos" ng-show="$index % 4 === colIndex" layout="column">
                <youtube-video class="video" video-id="video.videoUrl"></youtube-video>
                <md-button class="md-raised md-warn" ng-click="deleteVideo(selectedEnclosure.id, video, selectedEnclosure.videos)">מחק סרטון</md-button>
            </div>
        </div>
    </md-card-content>
</md-card>

<md-card ng-if="isEdit && !isLoading" layout="column">
    <md-card-title>
        <md-card-title-text class="md-headline">תמונות של המתחם:</md-card-title-text>
    </md-card-title>

    <md-card-content layout="row" layout-align="space-between">
        <div layout="column" ng-repeat="colIndex in [0, 1, 2, 3]">
            <div ng-repeat="picture in selectedEnclosure.pictures" ng-show="$index % 4 === colIndex" layout="column">
                <img class="picture" ng-src="{{ baseURL + picture.pictureUrl }}" alt="{{ enclosure.name }}" />
                <md-button class="md-raised md-warn" ng-click="deletePicture(selectedEnclosure.id, picture, selectedEnclosure.pictures)">מחק תמונה</md-button>
            </div>
        </div>
    </md-card-content>

    <md-card-content layout-align="start start">
        <div style="margin-top: 7px" layout="row">
            <div style="width: 200px">בחר תמונות להעלות:</div>
            <input type="file" multiple file-model="enclosurePictures" accept="image/*"/>
            <md-button class="md-raised md-primary" ng-click="uploadEnclosurePictures(enclosurePictures, selectedEnclosure)">העלה</md-button>
        </div>
    </md-card-content>
</md-card>

<md-card ng-if="isEdit && !isLoading">
    <md-card-title>
        <md-card-title-text class="md-headline">מלל המתחם בשפות השונות:</md-card-title-text>
    </md-card-title>

    <md-card-content>
        <md-tabs md-selected="selectedTab" md-stretch-tabs="always" md-dynamic-height>
            <md-tab ng-repeat="language in languages" label="{{ language.name }}">
                <md-card-content style="margin-right: 4%"  layout="column">
                    <md-input-container layout="row">
                        <label>הכנס שם תצוגה למתחם</label>
                        <input style="width: 200px" ng-model="enclosureDetails[selectedTab].name" required type="text">
                    </md-input-container>
                    
                    <md-input-container>
                        <label>הכנס סיפור למתחם</label>
                        <textarea rows="6" ng-model="enclosureDetails[selectedTab].story" required type="text"></textarea>
                    </md-input-container>

                    <md-card-content layout-align="start start">
                        <div style="margin-top: 7px" layout="row">
                            <div style="width: 200px">בחר קובץ שמע להעלות:</div>
                            <input type="file" file-model="enclosureDetails[selectedTab].enclosureAudioFile" accept="audio/*"/>
                        </div>
                    </md-card-content>

                    <md-input-container>
                        <md-button class="md-raised md-primary" ng-click="addEnclosureDetail(enclosureDetails[selectedTab])">הוסף תוכן למתחם בשפה שנבחרה</md-button>
                    </md-input-container>
                </md-card-content>
            </md-tab>
        </md-tabs>
    </md-card-content>
</md-card>

<md-card ng-if="isEdit && !isLoading" layout="column">
    <md-card-title>
        <md-card-title-text class="md-headline">חיות המתחם:</md-card-title-text>

        <div layout="column">
            <md-input-container>
                <md-icon md-svg-src="icons/ic_search_black_24px.svg"></md-icon>
                <label>חפש חיה</label>
                <input style="width: 200px" ng-model="animal_searchTerm" type="text">
            </md-input-container>
        </div>
    </md-card-title>

    <md-card-content layout="row" layout-align="space-between">
        <div layout="column" ng-repeat="colIndex in [0, 1, 2, 3]">
            <div ng-repeat="animal in selectedEnclosure.animals | filter:animal_searchTerm" ng-show="$index % 4 === colIndex" layout="column">
                <span class="picture-head">{{ animal.name }}</span>
                <img class="picture" ng-src="{{ baseURL + animal.pictureUrl }}" alt="{{ animal.name }}" ui-sref="mainMenu.enclosures.animal({ enclosure: selectedEnclosure, animal: animal })"/>
            </div>
        </div>
    </md-card-content>

    <md-card-content>
        <md-button class="md-raised md-primary" ui-sref="mainMenu.enclosures.animal({ enclosure: selectedEnclosure })">הוסף חיה למתחם</md-button>
    </md-card-content>
</md-card>

<md-card ng-if="isEdit && !isLoading" layout="column">
    <md-card-title>
        <md-card-title-text class="md-headline">סיפורים אישיים:</md-card-title-text>

        <div layout="column">
            <md-input-container>
                <md-icon md-svg-src="icons/ic_search_black_24px.svg"></md-icon>
                <label>חפש סיפור אישי</label>
                <input style="width: 200px" ng-model="animalStory_searchTerm" type="text">
            </md-input-container>
        </div>
    </md-card-title>

    <md-card-content layout="row" layout-align="space-between">
        <div layout="column" ng-repeat="colIndex in [0, 1, 2, 3]">
            <div ng-repeat="animalStory in selectedEnclosure.animalStories | filter:animalStory_searchTerm" ng-show="$index % 4 === colIndex" layout="column">
                <span class="picture-head">{{ animalStory.name }}</span>
                <img class="picture" ng-src="{{ baseURL + animalStory.pictureUrl }}" alt="{{ animalStory.name }}" ui-sref="mainMenu.enclosures.animalStory({ enclosure: selectedEnclosure, animalStory: animalStory })"/>
            </div>
        </div>
    </md-card-content>

    <md-card-content>
        <md-button class="md-raised md-primary" ui-sref="mainMenu.enclosures.animalStory({ enclosure: selectedEnclosure })">הוסף סיפור אישי</md-button>
    </md-card-content>
</md-card>