<div ng-controller="zooFeedWallCtrl as vm">
    <div layout="row" layout-align="center center">
        <md-progress-circular ng-show="isLoading" class="md-accent md-hue-1" md-diameter="300"></md-progress-circular>
    </div>

    <md-card ng-if="!isLoading">
        <md-card-title layout="row" layout-align="space-between">
            <md-card-title-text class="md-headline">קיר העדכונים:</md-card-title-text>

            <div layout="column">
                <md-select ng-change="updateFeed(language)" ng-model="language" placeholder="אנא בחר שפה">
                    <md-option ng-repeat="lang in languages" ng-value="lang">{{ lang.name }}</md-option>
                </md-select>
            </div>
        </md-card-title>
        <md-card-content ng-if="feedWall && feedWall.length > 0">
            <div style="margin-right: 10%" ng-repeat="feed in feedWall | orderBy:'id'" layout="row" layout-align="start center">
                <md-button style="margin-bottom: 25px" ng-if="!feed.isNew" ng-click="confirmDeleteFeed($event, feed, feedWall)" >
                    <md-icon md-svg-src="icons/ic_not_interested_black_24px.svg"></md-icon>
                </md-button>
                <md-button style="margin-bottom: 25px" ng-disabled="true" ng-if="feed.isNew">
                    <md-icon md-svg-src="icons/ic_new_releases_black_24px.svg"></md-icon>
                </md-button>

                <md-card-content layout="row">
                    <md-input-container>
                        <label ng-show="feed.isNew">הכנס כותרת</label>
                        <input style="min-width: 400px" ng-model="feed.title" required type="text">
                    </md-input-container>

                    <md-input-container>
                        <label ng-show="feed.isNew">הכנס עדכון</label>
                        <input style="min-width: 400px" ng-model="feed.info" required type="text">
                    </md-input-container>

                </md-card-content>
                <md-button class="md-primary md-raised" style="margin-bottom: 35px !important" ng-if="feed.isNew" ng-click="addFeed(feed, isPushMessage, isFeedWall)">שמור עדכון חדש</md-button>
                <md-button class="md-primary md-raised" style="margin-bottom: 35px !important" ng-if="!feed.isNew" ng-click="addFeed(feed, isPushMessage, true)">עדכון תוכן</md-button>
                
                <div style="margin-right: 15px" layout="row">
                    <md-checkbox ng-model="isPushMessage">שלח כהודעת פוש</md-checkbox>
                    <md-checkbox ng-if="feed.isNew" ng-model="isFeedWall">הוסף לקיר העדכונים</md-checkbox>
                </div>
            </div>
        </md-card-content>
        <md-card-content ng-if="!isLoading && (!feedWall || feedWall.length === 0)">
            <h3>אין נתונים</h3>
        </md-card-content>
    </md-card>
</div>