<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zoovisitors">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".pl.animals.AnimalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pl.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".pl.enclosures.EnclosureActivity" />

        <!-- <meta-data android:name="com.facebook.share" -->

        <activity android:name=".pl.map.MapActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".pl.general_info.GeneralInfoActivity"
            android:label="@string/title_activity_general_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".pl.enclosures.EnclosureListActivity" />
        <activity android:name=".pl.schedule.ScheduleActivity" />

        <service android:name=".cl.notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".pl.LoadingScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".pl.personalStories.PersonalStoriesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".pl.general_info.WatchAll"></activity>
    </application>

</manifest>