<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zoovisitors">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">

        <!-- android:theme="@style/AppTheme"> -->

        <activity
            android:name=".pl.animals.AnimalActivity"
            android:theme="@style/CustomTheme">

            <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        </activity>
        <activity android:name=".pl.MainActivity">

            <!-- android:theme="@style/AppTheme"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".pl.enclosures.EnclosureActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".pl.map.MapActivity" android:launchMode="singleTop" />
        <activity
            android:name=".pl.general_info.GeneralInfoActivity"
            android:label="@string/title_activity_general_info"
            android:theme="@style/CustomTheme" />
        <!-- android:theme="@style/AppTheme.Cu" /> -->
        <activity android:name=".pl.enclosures.EnclosureListActivity" />
        <activity android:name=".pl.schedule.ScheduleActivity" />

        <service android:name=".cl.notifications.MyFirebaseMessagingService" android:stopWithTask="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".cl.gps.GpsService" android:stopWithTask="true"/>

        <activity
            android:name=".pl.LoadingScreen"
            android:theme="@style/CustomTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pl.personalStories.PersonalStoriesActivity"
            android:theme="@style/CustomTheme" />
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".pl.general_info.WatchAll"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".pl.personalStories.PersonalPopUp"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".pl.enclosures.EnclosureAssetsPopUp"
            android:theme="@style/AppTheme.PopUp" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1991264511112012"
            android:exported="true" />

        <activity android:name=".pl.schedule.TodayRecEvent"
            android:theme="@style/AppTheme.PopUp" >

        </activity>
    </application>

</manifest>