<div ng-controller="zooEnclosureCtrl as vm">
    <div layout="row" layout-align="center center">
        <md-progress-circular ng-show="isLoading" class="md-accent md-hue-1" md-diameter="300"></md-progress-circular>
    </div>

    <md-card ng-if="!isLoading" ng-show="page === 'list'">
        <md-card-title layout="row" layout-align="space-between">
            <div layout="column">
                <md-button class="md-raised md-primary" ng-click="switchPage('create')">הוסף מתחם</md-button>
                <md-card-title-text class="md-headline">מתחמים קיימים:</md-card-title-text>
            </div>

            <div layout="column">
                <md-input-container>
                    <md-icon md-svg-src="icons/ic_search_black_24px.svg"></md-icon>
                    <label>חפש מתחם</label>
                    <input style="width: 200px" ng-model="enclosure_searchTerm" type="text">
                </md-input-container>
            </div>
        </md-card-title>
        
        <md-card-content layout="row" layout-align="space-between">
            <div layout="column" ng-repeat="colIndex in [0, 1, 2, 3]">
                <div ng-repeat="enclosure in enclosures | filter:enclosure_searchTerm" ng-show="$index % 4 === colIndex" layout="column">
                    <span class="picture-head">{{ enclosure.name }}</span>
                    <img class="picture" ng-src="{{ baseURL + enclosure.pictureUrl }}" alt="{{ enclosure.name }}" ng-click="switchPage('edit', enclosure)" />
                </div>
            </div>
        </md-card-content>
    </md-card>

    <md-card ng-show="(!isLoading && (page === 'create' || page === 'edit'))">
         <md-card-title layout="row" layout-align="space-between">
            <div layout="column">
                <md-button class="md-raised md-primary" style="width: 150px" ng-click="switchPage('list')">חזור לרשימת המתחמים</md-button>
                <div layout="row" ng-if="page === 'edit'">
                    <img class="picture_small" ng-src="{{ baseURL + selectedEnclosure.pictureUrl }}" alt="{{ selectedEnclosure.name }}" />
                    <md-card-title-text style="margin-top: 20px" class="md-headline">{{ selectedEnclosure.name }}:</md-card-title-text>
                </div>
                <md-card-title-text ng-if="page === 'create'" class="md-headline">הוספת מתחם חדש:</md-card-title-text>
            </div>
        </md-card-title>

        <md-card-content layout="row" style="margin-right: 4%">
                <md-card-content layout="column" flex>
                    <md-input-container layout="row">
                        <label ng-show="page === 'create'">הכנס שם מזהה למתחם</label>
                        <label ng-show="page === 'edit'">שם המתחם</label>
                        <input style="width: 200px" ng-model="selectedEnclosure.name" required type="text">
                    </md-input-container>

                    <ng-card-content layout="column">
                        <div style="margin-top: 7px" layout="row">
                            <div style="width: 200px">בחר אייקון להעלות:</div>
                            <input type="file" file-model="iconPic" accept="image/*"/>
                        </div>

                        <div style="margin-top: 7px" layout="row">
                            <div style="width: 200px">בחר תמונת פרופיל להעלות:</div>
                            <input type="file" file-model="profilePic" accept="image/*"/>
                        </div>
                    </ng-card-content>
                    <div layout="row">
                        <md-button class="md-raised md-primary" ng-click="openMap($event, selectedEnclosure)">מקם את המתחם על המפה</md-button>
                    </div>
                    <div layout="column" layout-align="end end">
                        <md-button style="background-color:darkviolet; min-width: 125px" class="md-raised md-accent" ng-click="addEnclosure(selectedEnclosure)">שמור פרטי מתחם</md-button>
                        <md-button  ng-if="page==='edit'" style="background-color: tomato; min-width: 125px" class="md-raised md-accent" ng-click="deleteEnclosure(selectedEnclosure.id)">מחק מתחם</md-button>
                    </div>
                </md-card-content>
        </md-card-content>
    </md-card>

    <md-card ng-if="page==='edit' && !isLoading" layout="column">
        <md-card-title layout="column">
            <md-card-title-text class="md-headline">קטעי וידאו של המתחם:</md-card-title-text>
            
            <div layout="row">
                <md-input-container>
                    <label>הוסף וידאו של חיה</label>
                    <input style="width: 200px" ng-model="enclosureVideoUrl" type="text">
                </md-input-container>
                <div>
                    <md-button class="md-raised md-primary" ng-click="addEnclosureVideo(selectedEnclosure, enclosureVideoUrl)">הוסף</md-button>
                </div>
            </div>
        </md-card-title>
        
        <md-card-content layout="row" layout-align="space-between">
            <div layout="column" ng-repeat="colIndex in [0, 1, 2, 3]">
                <div ng-repeat="video in selectedEnclosure.videos" ng-show="$index % 4 === colIndex" layout="column">
                    <youtube-video class="video" video-id="video.videoUrl"></youtube-video>
                    <md-button class="md-raised md-warn" ng-click="deleteVideo(selectedEnclosure.id, video, selectedEnclosure.videos)">מחק סרטון</md-button>
                </div>
            </div>
        </md-card-content>
    </md-card>

    <md-card ng-if="page==='edit' && !isLoading" layout="column">
        <md-card-title>
            <md-card-title-text class="md-headline">תמונות של המתחם:</md-card-title-text>
        </md-card-title>

        <md-card-content layout="row" layout-align="space-between">
            <div layout="column" ng-repeat="colIndex in [0, 1, 2, 3]">
                <div ng-repeat="picture in selectedEnclosure.pictures" ng-show="$index % 4 === colIndex" layout="column">
                    <img class="picture" ng-src="{{ baseURL + picture.pictureUrl }}" alt="{{ enclosure.name }}" />
                    <md-button class="md-raised md-warn" ng-click="deletePicture(selectedEnclosure.id, picture, selectedEnclosure.pictures)">מחק תמונה</md-button>
                </div>
            </div>
        </md-card-content>

        <md-card-content layout-align="start start">
            <div style="margin-top: 7px" layout="row">
                <div style="width: 200px">בחר תמונות להעלות:</div>
                <input type="file" multiple file-model="enclosurePictures" accept="image/*"/>
                <md-button class="md-raised md-primary" ng-click="uploadEnclosurePictures(enclosurePictures, selectedEnclosure)">העלה</md-button>
            </div>
        </md-card-content>
    </md-card>

    <md-card ng-if="page==='edit' && !isLoading">
        <md-card-title>
            <md-card-title-text class="md-headline">מלל המתחם בשפות השונות:</md-card-title-text>
        </md-card-title>

        <md-card-content>
            <md-tabs md-selected="selectedTab" md-stretch-tabs="always" md-dynamic-height>
                <md-tab ng-repeat="language in languages" label="{{ language.name }}">
                    <md-card-content style="margin-right: 4%"  layout="column">
                        <md-input-container layout="row">
                            <label>הכנס שם תצוגה למתחם</label>
                            <input style="width: 200px" ng-model="enclosureDetails[selectedTab].name" required type="text">
                        </md-input-container>
                        
                        <md-input-container>
                            <label>הכנס סיפור למתחם</label>
                            <textarea rows="6" ng-model="enclosureDetails[selectedTab].story" required type="text"></textarea>
                        </md-input-container>
                        <md-input-container>
                            <md-button class="md-raised md-primary" ng-click="addEnclosureDetail(enclosureDetails[selectedTab])">הוסף תוכן למתחם בשפה שנבחרה</md-button>
                        </md-input-container>
                    </md-card-content>
                </md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>

    <md-card ng-if="page==='edit' && !isLoading" layout="column">
        <md-card-title>
            <md-card-title-text class="md-headline">חיות המתחם:</md-card-title-text>

            <div layout="column">
                <md-input-container>
                    <md-icon md-svg-src="icons/ic_search_black_24px.svg"></md-icon>
                    <label>חפש חיה</label>
                    <input style="width: 200px" ng-model="animal_searchTerm" type="text">
                </md-input-container>
            </div>
        </md-card-title>

        <md-card-content layout="row" layout-align="space-between">
            <div layout="column" ng-repeat="colIndex in [0, 1, 2, 3]">
                <div ng-repeat="animal in selectedEnclosure.animals | filter:animal_searchTerm" ng-show="$index % 4 === colIndex" layout="column">
                    <span class="picture-head">{{ animal.name }}</span>
                    <img class="picture" ng-src="{{ baseURL + animal.pictureUrl }}" alt="{{ animal.name }}" ui-sref="animals({ enclosureId: selectedEnclosure.id, animal: animal })"/>
                </div>
            </div>
        </md-card-content>

        <md-card-content>
            <md-button class="md-raised md-primary" ui-sref="animals({ enclosureId: selectedEnclosure.id })">הוסף חיה למתחם</md-button>
        </md-card-content>
    </md-card>
</div>