<md-card layout="row">
    <md-card-content flex="20" layout="column">
        <md-button class="md-raised" style="background-color: goldenrod" ng-click="reRoute('mainMenu.generalInfo.prices')">מחירון</md-button>
        <md-button class="md-raised" style="background-color: goldenrod" ng-click="reRoute('mainMenu.generalInfo.openingHours')">שעות פתיחה</md-button>
        <md-button class="md-raised" style="background-color: goldenrod" ng-click="reRoute('mainMenu.generalInfo.contactInfo')">צור קשר</md-button>
        <md-button class="md-raised" style="background-color: goldenrod" ng-click="reRoute('mainMenu.generalInfo.aboutUs')">על גן החיות</md-button>
    </md-card-content>

    <ui-view flex="80"></ui-view>
</md-card>