<div ng-controller="zooEventsCtrl as vm">
    <md-card>
        <md-card-title>
            <md-card-title-text class="md-headline">אירועים מיוחדים קודמים:</md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div style="margin-right: 10%" ng-repeat="event in specialEvents" layout="row" layout-align="start center">
                <md-button style="margin-bottom: 25px" ng-if="!$last" ng-click="confirmDeleteSpecialEvent($event, event, events)" >
                    <md-icon md-svg-src="icons/ic_not_interested_black_24px.svg"></md-icon>
                </md-button>
                <md-button style="margin-bottom: 25px" ng-if="$last" ng-click="addNewSpecialEvent(specialEvents)">
                    <md-icon md-svg-src="icons/ic_add_circle_outline_black_24px.svg"></md-icon>
                </md-button>

                <md-card-content layout="row">
                    <md-input-container>
                        <label ng-if="event.isNew" style="color: red;">חדש!</label>
                        <input style="min-width: 400px" ng-model="event.title" required type="text">
                    </md-input-container>

                    <md-input-container>
                        <input style="min-width: 80px" ng-model="event.date" required type="text">
                    </md-input-container>
                </md-card-content>
                <md-button class="md-primary md-raised" ng-if="event.isNew" ng-click="addEvent(event)">שמור אירוע חדש</md-button>
                <md-button class="md-primary md-raised" ng-if="!event.isNew" ng-click="addEvent(event)">עדכון אירוע</md-button>
                
                <div ng-if="event.isNew" style="margin-right: 15px" layout="row">
                    <md-checkbox ng-model="isPushMessage">שלח כהודעת פוש</md-checkbox>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>