<div ng-controller="zooPricesCtrl as vm">
    <div layout="row" layout-align="center center">
        <md-progress-circular ng-show="isLoading" class="md-accent md-hue-1" md-diameter="300"></md-progress-circular>
    </div>

    <md-card ng-if="!isLoading">
        <md-card-title layout="row" layout-align="space-between">
            <md-card-title-text class="md-headline">מחירון:</md-card-title-text>

            <div layout="column">
                <md-select ng-model="language" ng-change="updatePrices(language)" placeholder="אנא בחר שפה">
                    <md-option ng-repeat="language in languages" ng-value="language">{{ language.name }}</md-option>
                </md-select>
            </div>
        </md-card-title>
        <md-card-content ng-if="prices && prices.length > 0">
            <div style="margin-right: 10%" ng-repeat="price in prices | orderBy:'id'" layout="row" layout-align="start center">
                <md-button style="margin-bottom: 25px" ng-if="!price.isNew" ng-click="confirmDeletePrice(price, prices)" >
                    <md-icon md-svg-src="icons/ic_not_interested_black_24px.svg"></md-icon>
                </md-button>
                <md-button style="margin-bottom: 25px" ng-disabled="true" ng-if="price.isNew">
                    <md-icon md-svg-src="icons/ic_new_releases_black_24px.svg"></md-icon>
                </md-button>

                <md-card-content layout="row">
                    <md-input-container>
                        <label ng-show="price.isNew">הכנס אוכלוסייה</label>
                        <input style="min-width: 400px" ng-model="price.population" required type="text">
                    </md-input-container>

                    <md-input-container>
                        <label ng-show="price.isNew">הכנס מחיר</label>
                        <input style="min-width: 80px" ng-model="price.pricePop" min="0" required type="number">
                    </md-input-container>
                </md-card-content>
                <md-button class="md-primary md-raised" ng-if="price.isNew" ng-click="addPrice(price)">שמור מחיר חדש</md-button>
                <md-button class="md-primary md-raised" ng-if="!price.isNew" ng-click="addPrice(price)">עדכון מחיר</md-button>
            </div>
        </md-card-content>
        <md-card-content ng-if="!isLoading && (!prices || prices.length === 0)">
            <h3>אין נתונים</h3>
        </md-card-content>
    </md-card>
</div>