<meta charset="utf-8" http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />

<img 
    ng-show="!isLoading"
    id="pic"
    ng-style="mapStyle"
    ng-src="{{ img.src }}"
    alt="map"
    ng-click="clickMap($event)" />

<img ng-repeat="marker in markers"
    ng-show="!isLoading"
    ng-style="marker.markerStyle"
    ng-src="{{ marker.src }}" />

<img ng-show="selectedObjectDone"
     ng-style="selectedObject.markerStyle"
     ng-src="{{ baseURL + selectedObject[selectedUrlProp] }}" />

<md-toolbar ng-show="!isLoading">
    <div layout="row" layout-align="start center">
        <md-button class="md-raised md-primary" ng-click="close(clickPosition)">שמור מיקום</md-button>
    </div>
</md-toolbar>    